lib/
out/
secrets/
node_modules/
acceptance_tests_logs/
.vscode/
.idea/
.history/
.nx/
.DS_Store
acceptance-test-*.log
*.code-workspace
lerna-debug.log
log.json

faros-airbyte-cdk/package-lock.json
destinations/**/package-lock.json
sources/**/package-lock.json

**/jenkins/data/logs
**/jenkins/data/war
**/jenkins/data/.cache
**/jenkins/data/.java
**/jenkins/data/.lastStarted
**/jenkins/data/*.log
sources/azure-workitems-source/test/uat.test.ts
