lib/
node_modules/
.DS_Store
*.code-workspace
out/
faros-airbyte-cdk/package-lock.json
destinations/**/package-lock.json
sources/**/package-lock.json
secrets/
*-acceptance-test.log
jenkins/data/logs
jenkins/data/war
acceptance_tests_logs
