lib/
out/
secrets/
node_modules/
acceptance_tests_logs/
.vscode/

.DS_Store
faros-airbyte-cdk/package-lock.json
destinations/**/package-lock.json
sources/**/package-lock.json
*-acceptance-test.log
*.code-workspace
