name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      FORCE_COLOR: true
      HUSKY_SKIP_INSTALL: 1
      HUSKY_SKIP_HOOKS: 1
      HUSKY: 0

    services:
      jenkins:
        image: jenkins/jenkins:lts-jdk11
        ports:
          - 8080:8080
          - 50000:50000
        volumes:
          - /home/runner/work/faros-ai/airbyte-connectors/jenkins/data:/var/jenkins_home
          - /home/runner/work/faros-ai/airbyte-connectors/jenkins/data/docker/docker.sock:/var/run/docker.sock
          - /home/runner/work/faros-ai/airbyte-connectors/jenkins/data/docker/docker:/usr/bin/docker

    steps:
      - name: Check out
        uses: actions/checkout@v2.3.4

      - name: Cache Node modules
        uses: actions/cache@v2.1.6
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Set up Node
        uses: actions/setup-node@v2.3.0
        with:
          node-version: 14

      - name: Install dependencies
        run: npm install -g npm@7 lerna && lerna bootstrap --hoist

      - name: Test
        run: lerna run test-cov

      - name: Source Acceptance Test
        run: |
          for i in $(ls -d sources/*/)
          do
            ./scripts/source-acceptance-test.sh $(echo $i | cut -f2 -d'/')
          done
        env:
          EXAMPLE_SOURCE_TEST_CREDS: ${{ secrets.EXAMPLE_SOURCE_TEST_CREDS }}
          JENKINS_SOURCE_TEST_CREDS: ${{ secrets.JENKINS_SOURCE_TEST_CREDS }}
