name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      FORCE_COLOR: true
      HUSKY_SKIP_INSTALL: 1
      HUSKY_SKIP_HOOKS: 1
      HUSKY: 0
    steps:
      - name: Add user permission
        run: sudo chown -R $USER:$USER ${{ github.workspace }}

      - name: Check out
        uses: actions/checkout@v2.3.4

      - name: Cache Node modules
        uses: actions/cache@v2.1.6
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Set up Node
        uses: actions/setup-node@v2.3.0
        with:
          node-version: 14

      - name: Install dependencies
        run: npm install -g npm@7 lerna && lerna bootstrap --hoist

      - name: Test
        run: lerna run test-cov

      - name: Run Jenkins server
        run: docker run --name jenkins -d -p 8080:8080 -p 50000:50000 -v ${{ github.workspace }}/jenkins/data:/var/jenkins_home jenkins/jenkins:lts-jdk11

      - name: Source Acceptance Test
        run: |
          echo "Waiting until Jenkins is up"
          waiting=0
          url=$(echo "${{ secrets.JENKINS_SOURCE_TEST_CREDS }}" | cut -d',' -f 1 | cut -d':' -f 2,3,4)
          until curl -s -I -X GET $url; do
            let waiting+=3
            sleep 3
            if [ $waiting -eq 60 ]; then
              echo "Jenkins server did not respond within 60 seconds"
              exit 42
            fi
          done

          for i in $(ls -d sources/*/)
          do
            ./scripts/source-acceptance-test.sh $(echo $i | cut -f2 -d'/')
          done
        env:
          EXAMPLE_SOURCE_TEST_CREDS: ${{ secrets.EXAMPLE_SOURCE_TEST_CREDS }}
          JENKINS_SOURCE_TEST_CREDS: ${{ secrets.JENKINS_SOURCE_TEST_CREDS }}

      - name: Stop Jenkins server
        run: docker stop jenkins
