name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'
  workflow_dispatch:

jobs:
  connector-acceptance-test:
    if: ${{ github.ref == 'refs/heads/main' || github.event_name == 'workflow_dispatch' }} # Skip PRs
    name: Connector Acceptance Test
    runs-on: ubuntu-latest
    timeout-minutes: 45
    env:
      FORCE_COLOR: true
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Run Jenkins server
        run: |
          mkdir -p ${{ github.workspace }}/sources/jenkins-source/test_files/jenkins/data/secrets/
          docker run -d -u 0 -i --name jenkins -p 8080:8080 -p 50000:50000 -v ${{ github.workspace }}/sources/jenkins-source/test_files/jenkins/data:/var/jenkins_home jenkins/jenkins:lts-jdk11
          echo "Waiting until Jenkins is up"
          waiting=0
          until curl -s -I -X GET http://127.0.0.1:8080; do
            docker ps -a
            let waiting+=3
            sleep 3
            if [ $waiting -eq 120 ]; then
              echo "Jenkins server did not respond within 120 seconds"
              exit 42
            fi
          done
          sudo chown -R $USER:$USER ${{ github.workspace }}/sources/jenkins-source/test_files/jenkins/data

      - name: Source Acceptance Test
        env:
          AGILEACCELERATOR_SOURCE_TEST_CONFIG: ${{ secrets.AGILEACCELERATOR_SOURCE_TEST_CONFIG }}
          AZUREACTIVEDIRECTORY_SOURCE_TEST_CONFIG: ${{ secrets.AZUREACTIVEDIRECTORY_SOURCE_TEST_CONFIG }}
          AZUREPIPELINE_SOURCE_TEST_CONFIG: ${{ secrets.AZUREPIPELINE_SOURCE_TEST_CONFIG }}
          AZURE_REPOS_SOURCE_TEST_CONFIG: ${{ secrets.AZURE_REPOS_SOURCE_TEST_CONFIG }}
          BACKLOG_SOURCE_TEST_CONFIG: ${{ secrets.BACKLOG_SOURCE_TEST_CONFIG }}
          BAMBOOHR_SOURCE_TEST_CONFIG: ${{ secrets.BAMBOOHR_SOURCE_TEST_CONFIG }}
          BITBUCKET_SOURCE_TEST_CONFIG: ${{ secrets.BITBUCKET_SOURCE_TEST_CONFIG }}
          BUILDKITE_SOURCE_TEST_CONFIG: ${{ secrets.BUILDKITE_SOURCE_TEST_CONFIG }}
          CIRCLECI_SOURCE_TEST_CONFIG: ${{ secrets.CIRCLECI_SOURCE_TEST_CONFIG }}
          CLICKUP_SOURCE_TEST_CONFIG: ${{ secrets.CLICKUP_SOURCE_TEST_CONFIG }}
          CUSTOMER_IO_SOURCE_TEST_CONFIG: ${{ secrets.CUSTOMER_IO_SOURCE_TEST_CONFIG }}
          DOCKER_SOURCE_TEST_CONFIG: ${{ secrets.DOCKER_SOURCE_TEST_CONFIG }}
          FIREHYDRANT_SOURCE_TEST_CONFIG: ${{ secrets.FIREHYDRANT_SOURCE_TEST_CONFIG }}
          GOOGLECALENDAR_SOURCE_TEST_CONFIG: ${{ secrets.GOOGLECALENDAR_SOURCE_TEST_CONFIG }}
          HARNESS_SOURCE_TEST_CONFIG: ${{ secrets.HARNESS_SOURCE_TEST_CONFIG }}
          PAGERDUTY_SOURCE_TEST_CONFIG: ${{ secrets.PAGERDUTY_SOURCE_TEST_CONFIG }}
          SHORTCUT_SOURCE_TEST_CONFIG: ${{ secrets.SHORTCUT_SOURCE_TEST_CONFIG }}
          SQUADCAST_SOURCE_TEST_CONFIG: ${{ secrets.SQUADCAST_SOURCE_TEST_CONFIG }}
          STATUSPAGE_SOURCE_TEST_CONFIG: ${{ secrets.STATUSPAGE_SOURCE_TEST_CONFIG }}
        run: |
          for i in $(ls -d sources/*/)
          do
            source=$(echo $i | cut -f2 -d'/')
            if grep -Fxq "$source" .github/workflows/skip-test-sources.txt
            then
              echo "Skipping $source acceptance tests"
            else
              ./scripts/source-acceptance-test.sh $source
            fi
          done

      - name: Stop Jenkins server
        if: ${{ github.ref == 'refs/heads/main' || github.event_name == 'workflow_dispatch' }} # Skip PRs
        run: |
          docker stop jenkins
          docker rm jenkins
