name: Dependabot Fix
on:
  push:
    branches:
      - dependabot/npm_and_yarn/**
  workflow_dispatch:

jobs:
  reformat:
    name: Reformat package-lock.json
    runs-on: ubuntu-latest
    permissions:
      contents: write
    timeout-minutes: 15
    env:
      FORCE_COLOR: true
      HUSKY_SKIP_INSTALL: 1
      HUSKY_SKIP_HOOKS: 1
      HUSKY: 0

    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Cache Node modules
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 18.x

      - name: Check npm version
        run: npm --version

      - name: Install dependencies
        run: npm install

      - name: Print package-lock.json
        run: head package-lock.json

      - name: Commit and push
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Reformat package-lock.json [dependabot skip]"
